#####################################
#sseeds 2.28.23 - Setup file for  SBS4. Modified by msatnik.
#####################################
## scalesbsfield = 0.36
#/lustre19/expphy/volatile/halla/sbs/msatnik/g4sbs/sbs4_sbs30p_sf0p359/rootfiles/*
## sbs4 30p, rejection sampling 
/volatile/halla/sbs/seeds/simc/p390sf_sbs4_sbs30p_simc/replayed_p390sf_sbs4_sbs30p_simc_deep_*.root
endlist
#bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&bb.ps.e+bb.sh.e>1.7
endcut
summaryfilePath /volatile/halla/sbs/seeds/simc/p390sf_sbs4_sbs30p_simc/simcout/p390sf_sbs4_sbs30p_simc_deep_summary.csv
nucleon p
mag_field 30
E_e 3.7393
BB_d 1.7988
BB_th 36.0
HCal_d 11.65
HCal_th 31.9
dxsig_p 0.255
dxsig_n 0.252
dysig 0.28
dx_pn 0.74
nsigma_p 1
nsigma_n 1
nsigma_y 1